body{
    margin: 0;
    padding: 0;
}
.text{
    font-size: 25px;
    margin: 50px;
}
.text::first-letter{
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.text::first-line{
    color: blue;
    font-weight: bold;
    font-size: 30px;
}
.text::before{
    content: 'Hello';
}
.text::after{
    content: 'World';
    color: red;
}

ul{
    width: 600px;
    margin: 20px auto;
    background-color: red;
}
li a{
    color: black;
    text-decoration: none;
}
li{
    display: inline-block;
    margin: 0 25px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

li::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    transition: 0.5s linear;
    position: absolute;
    left: 50%;
}
li:hover::after{
    width: 50%;
}

li::before{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: red;
    transition: 0.5s linear;
    position: absolute;
    bottom: -2px;
    right: 50%;
}
li:hover::before{
    width: 50%;
    transition: 0.5s linear;
}

.transform{
    width: 1000px;
    height: 600px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
}
.translate-element{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: 1s linear;
}
.transform:hover .translate-element{
    /*transform: translateX(400px);*/
    /*transform: translateY(300px);*/
    /*transform: translate(300px, 200px);*/


    /*transform: rotateX(360deg);*/
    /*transform: rotateY(360deg);*/
    /*transform: rotate(360deg);*/


    /*transform: scaleX(0.5);*/
    /*transform: scaleX(0.5);*/
    transform:  translateX(400px) rotate(360deg) scale(0.5);
    border-radius: 50%;
}





